html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,*::before, *::after{
    box-sizing:inherit;
} 

body{
    margin:0;
    padding:0;
    line-height:1.6;
    background: rgb(217, 243, 245);
    position: relative;
    padding-bottom: 40em;
    min-height: 100vh;
} 

main{
    padding: 100px;
    margin: 100px;
}

section .datos{
    padding: 100px;
    margin:100px;
} 

footer{
    background-color:rgb(52, 53, 51);
    padding: 1em 0;
    font-size: $font-h4;
    text-align: center;
    position: absolute;
    overflow: hidden;
    padding-top: 5%;
    bottom: 0;
    width:100%; 

    .grid{
        margin: 10px auto; 
        display:grid;
        grid-template-columns: no-repeat(3);
        grid-template-rows: no-repeat(3);
        grid-template-areas: 
        "n1 n2 n3"
        "n1 n2 n3"
        "n1 n2 n3";
    }

    .footer-box{
        padding-right:  35%;
        overflow: hidden; 
        margin-bottom:40px;
        flex-direction: column;
        grid-area: n1;
    }

div .footer-box2{
    margin-bottom: 20px;
    padding-right: 40%;
    justify-content: center;
    grid-area: n2;
}

    .footer-box2{
        text-align: center;
        color: #fff;
        column-gap: 20px;
        flex-direction: column;
        padding: 25px;
        margin: 0 10px;
    }
} 

.red-social{
    width: 50px;
    height: 50px;
    margin-right: 40px; ;
}

