*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
} 

body{
    margin:0;
    left: 20%;
    right: 20%;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: justify; 

}  

#menu{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    height: 170px;
    z-index: 100;
}
ul{
    list-style-type:none;
}

a{
    text-decoration:none;
    display: inline-block;
    color: rgb(30, 158, 217);
} 