footer{
    min-height: 80px;
    background-color: rgb(52, 53, 51);
    margin-top: 0;
    .footer-content{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
